<ion-header>
  <ion-toolbar>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (service.items().length > 0) {
    <ion-list [inset]="true">
      @for (item of service.items(); track item.id) {
        <app-list-item
          [disableSwipeActions]="true"
          [title]="item.title"
          [description]="item.description"
          descriptionColor="primary"
          (onClick)="openDetails(item)"
        />
      }
    </ion-list>
  } @else if (!ui.listLoading()) {
    <app-empty-state
      icon="pulse-outline"
      title="No activity yet"
      subtitle="Your recent actions will show up here."
    />
  }

  <ion-infinite-scroll [appPaginate]="service">
    <ion-infinite-scroll-content />
  </ion-infinite-scroll>
</ion-content>
