<ion-header>
  <ion-toolbar>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (service.items().length > 0) {
    <ion-list [inset]="true">
      @for (item of service.items(); track item.id) {
        <app-list-item
          [disableSwipeActions]="true"
          [title]="item.title"
          [description]="item.description"
          [meta]="(item.createdAt | date: 'dd MMM yyyy, HH:mm')!"
          descriptionColor="primary"
          (onClick)="openDetails()"
        />
      }
      <app-paginator [service]="service" />
    </ion-list>
  } @else if (!ui.listLoading()) {
    <app-empty-state
      icon="pulse-outline"
      title="No activity yet"
      subtitle="Your recent actions will show up here."
    />
  }
</ion-content>
