<ion-header>
  <ion-toolbar>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    @for (item of service.items(); track item.id) {
      <app-list-item
        [disableSwipeActions]="true"
        [navigatePath]="['']"
        [title]="item.title"
        [description]="item.description"
        [meta]="(item.createdAt | date: 'dd MMM yyyy, HH:mm')!"
        descriptionColor="primary"
      />
    }
    <app-paginator [service]="service" />
  </ion-list>
</ion-content>
