<ion-header>
  <ion-toolbar>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddinga">
  <ion-list [inset]="true">
    @for (group of service.items(); track group.id) {
      <!-- TODO implement debt relationships total amount and persons -->
      <app-list-item
        [navigatePath]="[group.id, 'details']"
        [title]="group.name"
        description="You owe BAM 11.25"
        meta="You owe Milan C."
        descriptionColor="primary"
        (onUpdate)="router.navigate(['groups', group.id])"
        (onDelete)="onDelete(group.id)"
      />
    }
    <app-paginator [service]="service" />
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [routerLink]="['new']">
    <ion-fab-button>
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
