<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddinga">
  <ion-list [inset]="true">
    @for (group of service.items(); track group.id) {
      <app-list-item
        [navigatePath]="['groups', group.id, 'details']"
        [title]="group.name"
        [description]="group.netBalanceMessage"
        [descriptionColor]="
          group.netBalance > 0 ? 'success' : group.netBalance < 0 ? 'error' : 'default'
        "
        (onUpdate)="router.navigate(['groups', group.id])"
        (onDelete)="onDelete(group.id)"
      />
    }
    <app-paginator [service]="service" />
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [routerLink]="['new']">
    <ion-fab-button>
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
