<ion-item-sliding class="list-item" [disabled]="disableSwipeActions()">
  <ion-item button class="list-item-inner" detail="false" color="medium" lines="none" (click)="navigate()">
    <div class="bdd-flex bdd-ai-center bdd-gap-2 bdd-flex-1 bdd-py-1">
      <app-avatar icon="plain" [alt]="title()" />

      <div class="bdd-flex bdd-flex-col bdd-flex-1">
        <span class="c-light font-w-500">{{ title() }}</span>
        @if (description()) {
          <small
            [class.c-primary]="descriptionColor() === 'primary'"
            [class.c-accent]="descriptionColor() === 'accent'"
            [class.c-text]="descriptionColor() === 'default'"
          >{{ description() }}</small>
        }
      </div>

      @if (meta()) {
        <span class="list-item-meta c-text">{{ meta() }}</span>
      }
    </div>
  </ion-item>

  <!-- Options -->
  <ion-item-options>
    <ion-item-option color="danger" (click)="openDeleteAlert(true)">
      <ion-icon name="trash-outline" />
    </ion-item-option>
    <ion-item-option (click)="onUpdate.emit()">
      <ion-icon name="create-outline" />
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- Delete alert -->
<ion-alert
  [isOpen]="isAlertOpen"
  header="Delete '{{ title() }}'"
  message="Are you sure you want to delete '{{ title() }}'"
  [buttons]="alertButtons"
  (didDismiss)="openDeleteAlert(false)"
/>
