<ion-item-sliding class="rounded-options" [disabled]="disableSwipeActions()">
  <ion-item button class="list-item-inner" detail="false" lines="none" (click)="navigate()">
    <div class="list-item-content">
      <app-avatar [src]="null" [name]="title()" [colorKey]="id()" />

      <div class="bdd-flex bdd-flex-col bdd-flex-1">
        <span class="c-light font-w-500">{{ title() }}</span>
        @if (description()) {
          <small [class]="descriptionColor()">{{ description() }}</small>
        }
      </div>

      @if (meta()) {
        <span class="list-item-meta c-text">{{ meta() }}</span>
      }

      @if (showChevron()) {
        <ion-icon name="chevron-forward-outline" class="c-text" />
      }
    </div>
  </ion-item>

  <!-- Options -->
  <ion-item-options>
    <ion-item-option color="danger" (click)="openDeleteAlert(true)">
      <ion-icon name="trash-outline" />
    </ion-item-option>
    <ion-item-option (click)="onUpdate.emit()">
      <ion-icon name="create-outline" />
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!-- Delete alert -->
<ion-alert
  [isOpen]="isAlertOpen"
  header="Delete '{{ title() }}'"
  message="Are you sure you want to delete '{{ title() }}'"
  [buttons]="alertButtons"
  (didDismiss)="openDeleteAlert(false)"
/>
