<ion-tabs>
  <!-- Bottom tabs -->
  <ion-tab-bar slot="bottom">
    <!-- Home -->
    <ion-tab-button tab="home" href="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <!-- Groups -->
    <ion-tab-button tab="groups" href="groups">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
    </ion-tab-button>

    <!-- Activity -->
    <ion-tab-button tab="activities" href="activities">
      <ion-icon aria-hidden="false" name="pulse"></ion-icon>
    </ion-tab-button>

    <!-- Connections -->
    <ion-tab-button tab="connections" href="connections">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
    </ion-tab-button>

    <!-- Settings -->
    <ion-tab-button tab="settings" href="settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
