@if (group$ | async; as group) {
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="groups" size="small" color="primary" />
      </ion-buttons>
      <ion-title class="small">Groups</ion-title>
      <ion-buttons slot="end"> </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Overview header -->
    <app-group-overview-header
      [members]="members"
      [group]="group"
      [totalPaid]="group.myDebtSummary.paidTotal"
      [totalOwed]="group.myDebtSummary.owedTotal"
      [totalBalance]="group.myDebtSummary.net"
    />

    <!-- Tab Segment -->
    <ion-segment
      class="tab-segment"
      [value]="activeTab"
      (ionChange)="activeTab = $any($event).detail.value"
    >
      <ion-segment-button value="overview">
        <ion-label>Overview</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenses">
        <ion-label>Expenses</ion-label>
      </ion-segment-button>
      <ion-segment-button value="balance">
        <ion-label>Balance</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [class.ion-padding]="activeTab !== 'expenses'">
      @switch (activeTab) {
        @case ('overview') {
          <app-group-details />
        }
        @case ('expenses') {
          <app-expense-list />
        }
        @case ('balance') {
          <app-group-balance />
        }
      }
    </div>

    <ion-button color="primary" class="add-expense" [routerLink]="['..', 'expenses', 'new']">
      <ion-icon name="add-outline" />
      <span>Add expense</span>
    </ion-button>
  </ion-content>
}
