@use '../variables' as c;

ion-header {
  -webkit-box-shadow: none !important;
  box-shadow: none;
  border-bottom: none;

  ion-toolbar {
    --background: transparent;
    --border-width: 0;
    --box-shadow: none;

    ion-buttons ion-back-button {
      --color: var(--ss-primary);
    }

    ion-title {
      color: var(--ion-text-color);
      color: var(--ss-primary);

      &.small {
        font-size: 16px;
      }

      &.medium {
        font-size: 20px;
      }

      &.large {
        font-size: 28px;
      }
    }
  }
}

ion-header:has(ion-back-button) ion-title {
  padding-left: 0;
}
