<ion-header>
  <ion-toolbar>
    <ion-title>Connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (service.loading()) {
    <div class="loading-state">
      <ion-spinner name="crescent" />
    </div>
  } @else if (service.items().length === 0) {
    <app-empty-state
      icon="people-outline"
      title="No connections yet"
      subtitle="Connections are created automatically when you share a group with someone."
    />
  } @else {
    <ion-list [inset]="true">
      @for (connection of service.items(); track connection.id) {
        <app-list-item
          [title]="connection.displayName"
          [disableSwipeActions]="true"
        />
      }
    </ion-list>
  }
</ion-content>
