@use './../../../../../theme/variables.scss' as c;

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  ion-spinner {
    color: c.$primary;
    width: 32px;
    height: 32px;
  }
}
